{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Django Basics</title>

    <!-- Static CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<div class="container">
    <h1>Employee Details</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Designation</th>
                <th>Email ID</th>
                <th>Phone No</th>
            </tr>
        </thead>

        <tbody>
            {% for emp in employees %}
            <tr>
                <td>{{ emp.first_name }} {{ emp.last_name }}</td>
                <td>{{ emp.designation }}</td>
                <td>{{ emp.email_Address }}</td>
                <td>{{ emp.phone_number }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
